.card {
  background-color: lightpink;
  height: 300px;
  width: 250px;
}
.container {
  padding: 40px;
  position: relative;
}
.container > h3 {
  position: absolute;
  margin: 0;
  top: 9px;
  left: 9px;
  margin: 0;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
